.message__wrapper {
  display: inline-block;
}

.message {  
  display: flex;
  max-width: 400px;  
  padding: 3px 10px 6px 10px;
  margin-left: 40px;
  border-radius: 10px;
  background: $messageColor;
  
}

.message__avatar {
    width: 37px;
    height: 37px;
    
  img {
    width: 37px;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.message__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  h4 {
    margin: 0;
    font-size: 22px;
    color: #01579B;
  }  
}

.message__payload {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    margin: 0;  
    margin-right: 10px;  
    font-size: 16px;
    color: white;
  }
  time {
    position: relative;
    color: white;

    
    
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      top: -25px;
      right: -7px;      
      background-image: url("../img/icons/done.png")
    }
  }
}

.message__payload--readed {
  time::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    right: 0;      
    background-image: url("../img/icons/done.png")
  }
}



.message__control {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 80px;
  height: 100%;
  margin-left: 10px;  
}
